{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="container">
    <div class="card border-0 shadow my-5">
      <div class="card-body p-5">
        <h1 class="fw-light">About Me</h1>
        <div class="d-flex"><p class="lead">My name is Omer Lehrer.
            I'm 23 years old and currently pursuing a Bsc. in Computer Science at the IDC, where i currently participate in the MiLab and Honors programs.<br> 
            During my time in the army i served as an infantry commander over new recruits, and as a staff sergeant. I had a challenging and fulfilling service, where i gained experience in dealing with complex situations under stress. <br>
            My hobbies are mainly sports, cooking, watching movies and reading books. but as I'm a curious guy, I always find something new to learn. <br>
            To sum up, I'm a determined, hard working individual who always looks to do the best he can, and i would be happy to be given a chance to prove it! <br>
            <br>
            <b>LinkedIn:</b> <a href="https://www.linkedin.com/in/omer-lehrer-457091130/">https://www.linkedin.com/in/omer-lehrer-457091130/</a> 
            
        </p>
        <div class="profile-userpic">
            <img src="/static/pics/profile.jpeg" alt="">
        </div></div>
        
        <h1 class="fw-light">About This Project</h1>
        <p class="lead">This project took me about 13-14 hours of work. <br>
             The only prior knowledge i had when starting was in python, I learned how to use: Flask, API calls, Bootstrap and Javascript from scratch to build this webapp. <br>
             In addition, i refreshed my css and html skills which i last used about 2 years ago. <br>
             It was a challenging project and I'm sure there is a lot to improve, but i did my best and learned a lot in the process.</p>
             P.S - there is a small issue with the searchbar which i didn't manage to solve in the given timeframe.
        <div style="height: 700px"></div>
      </div>
    </div>
  </div>
{% endblock %}
