{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="media content-section">
    <img class="align-self-start mr-3 mt-5" src="{{book.imageLink}}" width="100">
    <div class="media-body p-5">
      <h5 class="mt-0 book-title">{{book.name}}</h5>
      <p>Author: <span class="authors">{{book.authors}}</span></p>
      <p>Publisher: <span class="publisher">{{book.publisher}}</span></p>
      <p>Publish Date: <span class="publishDate">{{book.publishDate}}</span></p>
      <p>Page Count: {{book.pageCount}}</p>
    </div>
    <div class = "description d-flex">
        {{book.description}}
    </div>
    <div class ></div>
  </div>
{% endblock %}

